<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
   <add name="core" connectionString="Data Source=.\SQL2014;Initial Catalog=TamingEE_core;Integrated Security=False;User ID=sc-user;Password=password" />
   <add name="master" connectionString="Data Source=.\SQL2014;Initial Catalog=TamingEE_master;Integrated Security=False;User ID=sc-user;Password=password" />
   <add name="web" connectionString="Data Source=.\SQL2014;Initial Catalog=TamingEE_web;Integrated Security=False;User ID=sc-user;Password=password" />
   <add name="reporting" connectionString="Data Source=.\SQL2014;Initial Catalog=TamingEE_reporting;Integrated Security=False;User ID=sc-user;Password=password" />
   
   <add name="analytics" connectionString="mongodb://localhost:27017/TamingEE_analytics" />
   <add name="tracking.live" connectionString="mongodb://localhost:27017/TamingEE_tracking_live" />
   <add name="tracking.history" connectionString="mongodb://localhost:27017/TamingEE_tracking_history" />
   <add name="tracking.contact" connectionString="mongodb://localhost:27017/TamingEE_tracking_contact" />
</connectionStrings>