<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.renderRendering>

        <processor  patch:after="processor[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.Response.RenderRendering.AddWrapper, Sitecore.Mvc.ExperienceEditor']"
                    type="TamingEE.Cms.Custom.RenderingWrapper.AddEditorRenderingWrapper, TamingEE.Cms.Custom"/>

        <processor  patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.AddRecordedHtmlToCache, Sitecore.Mvc']"
                    type="TamingEE.Cms.Custom.RenderingWrapper.EndEditorRenderingWrapper, TamingEE.Cms.Custom"/>

      </mvc.renderRendering>

      <mvc.renderPlaceholder>

        <processor patch:after="processor[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.Response.RenderPlaceholder.AddWrapper, Sitecore.Mvc.ExperienceEditor']"
                   type="TamingEE.Cms.Custom.RenderingWrapper.AddEditorPlaceholderWrapper, TamingEE.Cms.Custom"/>

        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderPlaceholder.RenderAddedContent, Sitecore.Speak.Mvc']"
                   type="TamingEE.Cms.Custom.RenderingWrapper.EndEditorPlaceholderWrapper, TamingEE.Cms.Custom"/>

      </mvc.renderPlaceholder>
    </pipelines>
  </sitecore>
</configuration>
