<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
   <sitecore>
      <pipelines>
         <mvc.renderRendering>
            <!--<processor  patch:before="processor[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.Response.RenderRendering.AddWrapper, Sitecore.Mvc.ExperienceEditor']"
                          type="TamingEE.Cms.Custom.RenderingWrapper.AddRenderingWrapper, TamingEE.Cms.Custom"/>-->
            <!--<processor  patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']"
                          type="TamingEE.Cms.Custom.RenderingWrapper.AddRenderingWrapper, TamingEE.Cms.Custom"/>-->

            <processor  patch:before="processor[@type='TamingEE.Web.Pipeline.ExecuteRenderer, TamingEE.Web']"
                        type="TamingEE.Cms.Custom.RenderingWrapper.AddRenderingWrapper, TamingEE.Cms.Custom"/>

            <processor  patch:before="processor[@type='TamingEE.Web.Pipeline.ExecuteRenderer, TamingEE.Web']"
                        type="TamingEE.Cms.Custom.RenderingWrapper.AddEditorRenderingWrapper, TamingEE.Cms.Custom"/>

            <processor  patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.AddRecordedHtmlToCache, Sitecore.Mvc']"
                        type="TamingEE.Cms.Custom.RenderingWrapper.EndEditorRenderingWrapper, TamingEE.Cms.Custom"/>

            <processor  patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.AddRecordedHtmlToCache, Sitecore.Mvc']"
                        type="TamingEE.Cms.Custom.RenderingWrapper.EndRenderingWrapper, TamingEE.Cms.Custom"/>

         </mvc.renderRendering>
      </pipelines>
   </sitecore>
</configuration>
