<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
   <sitecore>
      <pipelines>
         <mvc.renderRendering>
            <processor type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc">
               <patch:attribute name="type">TamingEE.Web.Pipeline.ExecuteRenderer, TamingEE.Web</patch:attribute>
            </processor>
         </mvc.renderRendering>
      </pipelines>
   </sitecore>
</configuration>