body.edit-mode .component-wrapper {
  border: 2px solid #EEE;
  border-top: none;
  box-sizing: border-box;
  margin: 10px;
  overflow: hidden; }
  body.edit-mode .component-wrapper span.wrapper-header {
    display: block;
    color: #111;
    background-color: #EEE;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    }
  body.edit-mode .component-wrapper .component-content {
    padding: 10px;
    min-height: 50px; }
    body.edit-mode .component-wrapper .component-content .component-wrapper {
      margin: 10px 0; }

body.edit-mode .mdl-container .mdl-locations-container .scEmptyImage {
  display: none; }